<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/myprofile.css') }}">
</head>

<body>

  <body>
    <header class="header-banner" id="iqyg">
      <div class="container-width" id="ipjs">
        <div class="logo-container">
          <div class="logo" id="ik5b">IDEAL ROOM MATE</div>
        </div>
        

        <nav class="menu" id="ibsn">
          <div class="menu-item" id="i78i"><a href="{{ url_for('auth.mainpage') }}">BACK TO MAIN</a></div>
     
     
        </nav>
        <div id="ixk8ib"></div>
        <div class="clearfix"></div><img id="ixvu53" src="./static/prof1.jpg" />
        <div class="row" id="i360k3">
          <div class="cell">
            <form class="form" id="ipqnxj">
              <div class="form-group"><label class="label">Name</label><input placeholder="Type here your name"
                  class="input" id="iszyi6" /></div>
              <div class="form-group"><label class="label" id="i4sx7i">Email</label><input type="email"
                  placeholder="Type here your email" class="input" id="isjv7k" /></div>
              <div class="form-group" id="ij6fl7"><label class="label" id="ij09zo">Gender</label><input type="checkbox"
                  value="M" class="checkbox" id="ih1mz8" /><label class="checkbox-label">M</label><input type="checkbox"
                  value="F" class="checkbox" id="is9yl5" /><label class="checkbox-label">F</label></div>
              <div class="form-group" id="ia2rqe"><label class="label" id="izoxlj">Language</label></div><select
                class="select">
                <option value="">- Select option -</option>
                <option value="1">Option 1</option>
              </select><label class="label" id="ifzfd7">Age</label><input placeholder="Type here your Age" name="Age"
                type="number" class="input" id="ivnib9" /><label class="label" id="i4dh32">Age</label><label
                class="label" id="igfinb">Food Preferences</label><label class="label"
                id="idm5i5">Drinker</label><select class="select" id="ija2be">
                <option value="">- Select option -</option>
                <option value="1">Option 1</option>
              </select><select class="select" id="i5l5ur">
                <option value="">- Select option -</option>
                <option value="1">Option 1</option>
              </select><label class="label" id="iww64i">Shift Preference</label><select class="select" id="idw3f1">
                <option value="">- Select option -</option>
                <option value="1">Option 1</option>
              </select>
              <div class="form-group" id="ihhfe2"></div>
            </form>
          </div>
          <div class="cell" id="ib92oi">
            <form class="form" id="ijqmg6">
              <div class="form-group" id="i080pd"></div>
              <div class="form-group"><label class="label" id="ivvwxx">Desired Room Location - City</label><select
                  class="select" id="ifzn87">
                  <option value="">- Select option -</option>
                  <option value="1">Option 1</option>
                </select></div>
              <div class="form-group"><label class="label" id="idcvbw">Desired Room Location Area</label></div><select
                class="select" id="i46mdu">
                <option value="">- Select option -</option>
                <option value="1">Option 1</option>
              </select><label class="label" id="ih8nx1">Distance to Office</label><select class="select" id="iwj91n">
                <option value=""></option>
                <option value="2">2</option>
                <option value="40;;">40;;</option>
              </select><label class="label" id="ixnrvs">En Suite Bathroom</label><select name="en_suite_bathroom"
                class="select" id="idk5nk">
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No;;">No;;</option>
              </select>
              <div class="form-group"></div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="cell" id="igeocb">
            <form class="form">
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"><button type="submit" class="button" id="ivvqrg">Send</button></div>
            </form>
          </div>
        </div>
      
    </footer>
  </body>
  <script>var items = document.querySelectorAll('#ixk8ib');
    for (var i = 0, len = items.length; i < len; i++) {
      (function () {
        var e = this, t = JSON.parse('["Welcome to Find My Room Mate Project"]'), r = function (e) { return parseInt(e, 10) || 0 }, n = function (e) { return !!e }, o = function () { var o = e; o.innerHTML = '<span></span>'; var c = parseInt('Infinity', 10), s = { typeSpeed: r('40'), startDelay: r(''), backDelay: r('700'), backSpeed: r(''), smartBackspace: n('true'), fadeOut: n(''), fadeOutClass: 'typed-fade-out', fadeOutDelay: r('500'), shuffle: n(''), loop: n(''), loopCount: isNaN(c) ? 1 / 0 : c, showCursor: n('true'), cursorChar: '|', autoInsertCss: n('true'), bindInputFocusEvents: n(''), attr: '', contentType: 'html' }; t && t.length && (s.strings = t), new Typed(o.children[0], s) }; if (window.Typed) o(); else { var c = document.createElement('script'); c.src = 'https://cdn.jsdelivr.net/npm/typed.js@2.0.11', c.onload = o, document.head.appendChild(c) }
      }.bind(items[i]))();
    }</script>
</body>
<html>