
<body id="i9n7">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/passions.css') }}">
</head>
  <header id="iqyg" class="header-banner">
    <div id="ipjs" class="container-width">
      <div class="logo-container">
        <div id="ik5b" class="logo">IDEAL ROOM MATE
        </div>
      </div>
      <nav id="ibsn" class="menu">
        <div id="ipxwm7" class="menu-item">BACK TO MAIN
        </div>
        <div id="ixu8" class="menu-item">
        </div>
      </nav>
      <div id="ixk8ib">
      </div>
      <div class="clearfix">
      </div>
      <img id="ixvu53" src="./img/team1.jpg"/>
      <div id="iku9i">List of your Passions  -  Select five only
      </div>
      <div id="i360k3" class="row">
      </div>
      <div title="List of passions" class="row" id="i68gi">
        <div id="igeocb" class="cell">
          <form class="form" id="i6c4j">
            <input type="checkbox" class="checkbox" id="idycm"/>
            <div id="iia27">Passion 
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <footer class="footer-under" id="iwyjc">
    <div class="container-width">
    </div>
    <div class="form-group" id="iqwwk">
      <button type="submit" id="ivvqrg" class="button">Send</button>
    </div>
    <div class="copyright">
      <div class="container-width">
        <div class="made-with">
          made with GrapesJS
        </div>
        <div class="foot-social-btns">facebook twitter linkedin mail
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </footer>
</body>
<script>var items = document.querySelectorAll('#ixk8ib');
  for (var i = 0, len = items.length; i < len; i++) {
    (function(){
      var e=this,t=JSON.parse('["Welcome to Find My Room Mate Project"]'),r=function(e){
        return parseInt(e,10)||0}
      ,n=function(e){
        return!!e}
      ,o=function(){
        var o=e;
        o.innerHTML='<span></span>';
        var c=parseInt('Infinity',10),s={
          typeSpeed:r('40'),startDelay:r(''),backDelay:r('700'),backSpeed:r(''),smartBackspace:n('true'),fadeOut:n(''),fadeOutClass:'typed-fade-out',fadeOutDelay:r('500'),shuffle:n(''),loop:n(''),loopCount:isNaN(c)?1/0:c,showCursor:n('true'),cursorChar:'|',autoInsertCss:n('true'),bindInputFocusEvents:n(''),attr:'',contentType:'html'};
        t&&t.length&&(s.strings=t),new Typed(o.children[0],s)};
      if(window.Typed)o();
      else{
        var c=document.createElement('script');
        c.src='https://cdn.jsdelivr.net/npm/typed.js@2.0.11',c.onload=o,document.head.appendChild(c)}
    }
     .bind(items[i]))();
  }
</script>