<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="{{url_for('static', filename='CSS/myprofile.css') }}">
   
</head>

<body>

    <body>
        <header id="ivdr" class="header-banner">
            <div id="ig24" class="container-width">
                <div id="i1dx" class="logo-container">
                    <div id="i4vz" class="logo">IDEAL ROOM MATE</div>
                </div>
                <nav class="menu">
                 
                    <div id="i78i" class="menu-item"><a href="{{ url_for('main.mainpage') }}">Back to Main</a></div>
                    <div id="i78i" class="menu-item"><a href="{{ url_for('main.result') }}">Results</a></div>
                    
                 </nav>
                <div class="clearfix"></div>
                <div id="ijtyy" class="lead-title">Welcome to Find my Ideal Room Mate Project</div>
                <div id="i7imfk"><b id="i5ng8">Search Criteria</b></div>
                <div id="iip12f"><b>My Ideal Room Mate</b></div>
                <form id="iq2rmo" class="form">
                    <div id="ips8z3" class="row">
                        <div id="iv23uz" class="cell">
                            <div id="ieiiuk">Gender</div><select class="select">
                                <option value="">- Select option -</option>
                                <option value="1">Female</option>
                                <option value="2">Male</option>
                           


                            </select>
                        </div>
                        <div id="imdo9l" class="cell">
                            <div id="igd33f" class="row">
                                <div id="i19hhx" class="cell"></div>
                            </div>
                            <div id="iyastd" class="row">
                                <div id="ibr8mw" class="cell">
                                    <div id="i64cvj">Age  Between  </div>
                                </div>
                                <div id="iahbxe" class="cell"><input id="ivypj5" class="input" /><input id="izywwx"
                                        class="input" /></div>
                            </div>
                        </div>
                    </div>
                    <div id="ij68bh" class="row">
                        <div id="i5cmhy" class="cell">
                            <div id="i55z1l">Desired Room Location</div>
                            <div id="i3prlk">City</div><select id="iefnpi" class="select">
                                <option value="">- Select option -</option>
                                <option value="1">Chennai</option>
                            </select>
                            <div id="it30ri">Area</div><select id="i1vdxo" class="select">
                                <option value="">- Select option -</option>
                                <option value="1">Anna nagar</option>
                                <option value="2">Mylapore</option>
                                <option value="3">Vadapalani</option>
                                <option value="4">Ambattur</option>
                                <option value="5">Mount Road</option>
                                <option value="6">Purasaiwalkam</option>
                                <option value="7">Madipakkam</option>
                                <option value="8">NangaNallur</option>
                                <option value="9">Tambaram</option>
                                <option value="10">Triplicane</option>
                                <option value="11">Mambalam</option>


                            </select>
                        </div>
                        <div id="ihxxh8" class="cell">
                       
                            <div id="ibnjnx">Language </div><select id="igtbjc" class="select">
                                <option value="">- Select option -</option>
                                <option value="1">Tamil</option>
                                <option value="2">English</option>
                                <option value="1">Telegu</option>
                                <option value="1">Kannada</option>
                                <option value="1">Hindi</option>
                                
                            </select>
                        </div>
                    </div>
                    <div id="iwdbic" class="row"></div>
                    <div id="iphk3s" class="row">
                        <div id="i7qj7d" class="cell">
                            <div id="i15gy4">Food Preferences</div><select id="iek025" class="select">
                                <option value="">- Select option -</option>
                                <option value="1">Vegan</option>
                                <option value="2">Vegetarian</option>
                                <option value="3">Non-Vegetarian</option>
                            </select>
                        </div>
                        <div class="cell" id="imoh2o">
                            <div id="i15gy4">Working Shift</div><select class="select" id="i9vy8r">
                                <option value="">- Select option -</option>
                                <option value="1">Day Shift</option>
                                <option value="2">Night Shift</option>
                                <option value="3">Mixed shifts</option>
                            </select>
                        </div>
                        <div id="itzvzh" class="cell">
                            <div id="ilwdre">Drinking Habits</div><select id="iua0hg" class="select">
                                <option value="">- Select option -</option>
                                <option value="1"> Drinker</option>
                                <option value="2">Teetotaller</option>
                              



                            </select>
                        </div>
                        <div class="cell" id="ilwdre">
                            <div id="ibqwq9">Smoking Habits</div><select class="select" id="igics1">
                                <option value="">- Smoker -</option>
                                <option value="1">Non-Smoker</option>

                            </select>
                        </div>
                    </div><label class="label" id="is6eqk">Passion</label><button class="button"
                        id="i6ledj">Select the desired passions</button><input class="input" id="ibct2k" />
                    <div id="ipgfzi" class="row"></div>
                    <div class="form-group" id="i337g"><button type="submit" class="button" id="ie13fb">Search for My Room mate</button>
                    </div>
                </form>
            </header>
        <section class="am-sect">
            <div class="container-width"></div>
        </section>
    </body>
</body>
<html>