<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="{{url_for('static', filename='css/myprofile.css') }}">
   
</head>

<body>

    <body>
        <header id="ivdr" class="header-banner">
            <div id="ig24" class="container-width">
                <div id="i1dx" class="logo-container">
                    <div id="i4vz" class="logo">IDEAL ROOM MATE</div>
                </div>
                <nav class="menu">
                 
                    <div id="i78i" class="menu-item"><a href="{{ url_for('main.mainpage') }}">Back to Main</a></div>
                    
                 </nav>
                <div class="clearfix"></div>
                <div id="ijtyy" class="lead-title">Welcome to Find my Ideal Room Mate Project</div>
                <div id="i7imfk"><b id="i5ng8">Search Criteria</b></div>
                <div id="iip12f"><b>My Ideal Room Mate</b></div>
                <form id="iq2rmo" class="form" method="POST" action="/search">
                    <div id="ips8z3" class="row">
                        <div id="iv23uz" class="cell">
                            <div id="ieiiuk">Gender</div><select name="gender" class="select">
                                <option value="">- Select option -</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                           
                            </select>
                        </div>
                        <div id="imdo9l" class="cell">
                            <div id="igd33f" class="row">
                                <div id="i19hhx" class="cell"></div>
                            </div>
                            <div id="iyastd" class="row">
                                <div id="ibr8mw" class="cell">
                                    <div id="i64cvj">Age  Between  </div>
                                </div>
                                <div id="iahbxe" class="cell">
                                    <input id="ivypj5" class="input" placeholder="min. age" type="number" name="minAge" />
                                    <input name="maxAge" placeholder="max. age" type="number" id="izywwx" class="input" /></div>
                            </div>
                        </div>
                    </div>
                    <div id="ij68bh" class="row">
                        <div id="i5cmhy" class="cell">
                            <div id="i55z1l">Desired Room Location</div>
                            <div id="i3prlk">City</div><select name="city" id="iefnpi" class="select">
                                <option value="">- Select option -</option>
                                <option value="Chennai">Chennai</option>
                            </select>
                            <div id="it30ri">Area</div><select name="area" id="i1vdxo" class="select">
                                <option value="">- Select option -</option>
                                <option value="Mylapore">Mylapore</option>
                                <option value="Ashok Nagar">Ashok Nagar</option>
                                <option value="K.K. Nagar">K.K. Nagar</option>
                                <option value="Mugappair">Mugappair</option>
                                <option value="Triplicane">Triplicane</option>
                            </select>
                        </div>
                        <div id="ihxxh8" class="cell">
                       
                            <div id="ibnjnx">Language </div><select id="igtbjc" name="lang" class="select">
                                <option value="">- Select option -</option>
                                <option value="Tamil">Tamil</option>
                                <option value="English">English</option>
                                <option value="Telugu">Telugu</option>
                                <option value="Kannada">Kannada</option>
                                <option value="Hindi">Hindi</option>
                                
                            </select>
                        </div>
                    </div>
                    <div id="iwdbic" class="row"></div>
                    <div id="iphk3s" class="row">
                        <div id="i7qj7d" class="cell">
                            <div id="i15gy4">Food Preferences</div><select name="food_pref" id="iek025" class="select">
                                <option value="">- Select option -</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Non-vegetarian">Non-Vegetarian</option>
                            </select>
                        </div>
                        <div class="cell" id="imoh2o">
                            <div id="i15gy4">Working Shift</div><select name="shift" class="select" id="i9vy8r">
                                <option value="">- Select option -</option>
                                <option value="Day">Day</option>
                                <option value="Night">Night</option>
                            </select>
                        </div>
                        <div id="itzvzh" class="cell">
                            <div id="ilwdre">Drinking Habits</div><select name="drinker" id="iua0hg" class="select">
                                <option value="">- Select option -</option>
                                <option value=1>Drinker</option>
                                <option value=0>Teetotaller</option>
                            </select>
                        </div>
                        
                    </div><div id="is6eqk">Passion</div><select name = "passions" class="select" id="i6ledj">
                        <option value="">- Select option -</option>
                        {% for p in passions %}
                            <option value = "{{p[0]}}">{{ p[0] }}</option>
                        {% endfor %}
                        </select>
                    <div id="ipgfzi" class="row"></div>
                    <div class="form-group" id="i337g"><button class="button" id="ie13fb">Search for My Roommate</button>
                    </div>
                </form>
            </header>
        <section class="am-sect">
            <div class="container-width"></div>
        </section>
    </body>
</body>
<html>